* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Algemene instellingen */

body {
    font-size: 1em;
    font-family: 'Segoe UI';
}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: Caviardreams;
    src: url(fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: CaviardreamsBold;
    src: url(fonts/CaviarDreams_Bold.ttf);
}

/* Menu */
nav {
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    align-items: center;
}


nav img {
    width: 80%;
}


nav .links ul {
    display: flex;
    gap: 2em;
    list-style: none;
}

nav .links ul a {
    color: darkgrey;
    font-size: 1.1em;
    text-decoration: none;
    font-variant: small-caps;
}

nav .links li {
    border-bottom: 5px solid white;
}

nav .links li:hover {
    border-bottom: 5px solid #9FFF45;
}

nav .links li:hover a {
    color: black;
}

/* Hero */
.hero {
    display: flex;

    margin-top: 3em;
    margin-bottom: 1em;
}

.hero h2 {
    font-family: CaviardreamsBold;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero .tekst {
    width: 54%;
}


.hero .image {
    width: 22%;
    margin-right: 0.5em;
}

.hero .image img {
    width: 100%;
}

.hero p.toevoegen {
    background-color: #9FFF13;
    color: black;
    width: fit-content;
    
    padding-left: 1em;
    padding-right: 1em;

    margin-top: 1em;

    border-radius: 2em;
}

/* How it works */
.how-it-works {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 15%;
    margin-right: 15%;

    text-align: center;
    line-height: 1.8em;   

    font-size: 1.5em;
}