* {
  margin: 0;
  padding: 0;
  /*  */
  box-sizing: border-box;
}

/* Lettertype toevoegen */
@font-face {
  font-family: alamain;
  src: url(../fonts/alamain1.ttf);
}

body {
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Veranderen van font => fonts downloaden van dafont.com */
  margin-bottom: 2em;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Banner vanboven op de pagina */
#top {
  color: white;
  background-color: rgb(100, 149, 240);
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1em;
}

/* Menu logo en navigatie */
#menu {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;

}

/* Navigation */
nav {
  align-content: flex-end;
}

nav ul{
  display: flex;
  flex-direction: row;

  /* Horizontale positie */
  justify-content: space-around;
  
  /* Opsommingstekens wegdoen */
  list-style-type: none;

  /* Gap gebruiken om ruimte tussen de listitems te plaatsen */
  /* Column-gap => enkel horizontaal */
  /* Row-gap => enkel verticaal */
  /* Gap => horizontaal en verticaal */
  column-gap: 2em;

}

nav li a {
  /* Lijn onder de links weghalen */
  text-decoration: none;
}


/* Font van h1 aanpassen */
h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-family: alamain;
  color: #124486;
}

/* hero image */
.hero_img img {
  width: 100%;
}

.hero_img {
  margin-bottom: 2em;
  margin-top: 2em;
}


/* Highlights */
#highlights {
  display: flex;

  /* Horizontale positie */
  justify-content: space-between;

  /* wrap toevoegen */
  flex-wrap: wrap;

  /* Verticale ruimte toevoegen tussen de highlights */
  row-gap: 1em;
} 

.highlight {
  /* Breedte toevoegen aan elke highlight */
  width: 32%;

  line-height: 1.5em;
}

.highlight h2 {
  color: #124486;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  font-variant: small-caps;
}

.highlight img {
  /* De afbeelding neemt nu de volledige breedte in van de parent*/
  width: 100%;
}

/* Journey */
.journey {
  display: flex;
  justify-content: space-between;
  gap: 1em;

  /* Alle items verticaal centreren */
  align-items: center;
}

.journey-image {
  width: 45%;
}

.journey img {
  width: 100%;
}

.journeytext {
  gap: 2em;
  width: 60%;
  line-height: 1.5em;
}

.cta {
  background-color: #124486;
  color: white;
  width: fit-content;
  font-size: larger;

  /* padding */
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;

  /* Margin */
  margin-top: 1em;
  
  /* Border */
  border: 1px transparent;
  border-radius: 20px;
}

/* Merken */
#merken {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Werken bij Danone */
#contact_vacatures {
  display: flex;
  margin-top: 3em;
  column-gap: 0.5em;
}

#vacatures {
  display: flex;
  flex-direction: column;

  width: 50%;
  padding: 5em;

  align-items: center;
  text-align: center;

  background-color: #0f64d3;
  color: white;

  line-height: 1.5em;

}

#contact {
  display: flex;
  flex-direction: column;

  width: 50%;
  padding: 5em;

  align-items: center;
  text-align: center;

  background-color: #124486;
  color: white;

  line-height: 1.5em;

}

.cta-transparent {
  width: 50%;
  margin-top: 2em;

  border: 1px solid white;
  border-radius: 20px;

  /* Padding */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;

}