/* Alle elementen */
* {
    padding: 0;
    margin: 0;
}

body {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1em;
margin-top: 0.5em;
margin-bottom: 2em;
}

/* Navigatie */

nav {
    border-bottom: 3px solid red;
}

nav img {
    margin-right: 25em;
}
/*submenu*/
/* We voegen de nav toe aan onze selector want we willen dat het enkel toegepast word op de navigatie */

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 3em;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.2em;
}

nav li ul {
    /* Dit zorgt ervoor dat het niet word weergegevne */
    display: none;

}

/* Header */
header {
    position: relative;
}

header img {
    width: 100vw;
}

header p {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-size: 2.4em;
    background-color: darkblue;
    color: white;
    width: 30%;
    text-align: center;
}

#wrapper {
width: 1080px;
margin-left: auto;
margin-right: auto;
}