* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Lettertypes toevoegen */
@font-face {
    font-family: CaviarDreams;
    src: url(./fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: CaviarDreams_Bold;
    src: url(./fonts/CaviarDreams_Bold.ttf);
}

/* Wrapper */
#wrapper {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

/* Menu / navbar */
#menu { 
    display: flex;
    justify-content: space-between;
}

#menu .logo {
    width: fit-content;
}

#menu img {
    width: 100%;
}

#menu ul {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
}

#menu ul li a{
    text-decoration: none;
    color: darkgrey;
    font-size: 110%;
    font-variant: small-caps;
}

#menu ul li a:hover {
    color: black;
    border-bottom: 5px solid #9FFF45;
}


/* Hero */
#hero {
    margin-top: 3em;
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;
}

#hero h2 {
    font-family: CaviarDreams_Bold;
    color: black;
    font-size: 3em;
    margin-bottom: 0.5em;
}

#hero .hero-text {
    width: 54%;
    font-size: 1.2em;
}

#hero .hero-image{
    width: 22%;
}


#hero img {
    width: 100%;
}

#hero .button {
    background-color: #9FFF13;
    color: black;
    width: fit-content;

    padding-left: 1em;
    padding-right: 1em;
    

    border-radius: 3em;

    margin-top: 1em;
}

/* How it works */
.how-it-works {
    margin-top: 2em;
    margin-bottom: 2em;

    text-align: center;

    padding-left: 15%;
    padding-right: 15%;

    line-height: 1.8em;

    font-size: 1.5em;
}

.how-it-works h2 {
    font-family: CaviarDreams_Bold;
    margin-bottom: 0.5em;
}

/* Zoek boek en parkeer */
.zoek-boek-parkeer {
    margin-top: 3em;
    margin-bottom: 3em;

    display: flex;
    justify-content: space-between;
}

.zoek-boek-parkeer h2 {
    font-family: CaviarDreams_Bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

.step-1, .step-2, .step-3 {
    width: 32%;
    border: 3px solid white;
    border-radius: 2em;
    padding: 1.5em;
}

.step-1 {
    background-color: #9FFF45;
    position: relative;
}

.step-2 {
    background-color: #CFFFA2;
    position: relative;
}

.step-3 {
    background-color: #F3F4F6;
    position: relative;
}

/* Randen van kleur veranderen als er interactie is */
.step-1:hover {
    border: 3px solid darkred;
}

.step-2:hover {
    border: 3px solid darkred;
}

.step-3:hover {
    border: 3px solid darkred;
}

/* Figuur niet zichtbaar maken */
.step-1 img, .step-2 img, .step-3 img {
    display: none;
}

/* Figuur laten verschijnen als er interactie is */
/* We positioneren de foto ten opzichte van de parent waarvan de position relative is */
.step-1:hover img, .step-2:hover img, .step-3:hover img {
    display: block;
    position: absolute;

    /* We bepalen hier de positie */
    right: 1em;
    bottom: 1em;
}

/* Populaire bestemmingen */
.popular-destinations {
    background-color: #CFFFA2;
    border-radius: 2em;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.popular-destinations p {
    font-size: 1.6em;
    font-family: CaviarDreams_Bold;

    margin-top: 0.8em;
    margin-bottom: 0.8em;
}


.destinations {
    display: flex;
    justify-content: space-between;
}

.destination {
    width: 16%;
    position: relative;

}

.destination img {
    width: 100%;
    border-radius: 2em;
}

.destination .description {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.4em;

    /* We tonen de bestemmingen nog niet */
    display: none;
    position: absolute;

    width: 100%;
    left: 0;
    bottom: 1em;

    text-align: center;
}

/* Bestemming tonen bij interactie op de container van de bestemming */
.destination:hover .description {
    display: block;
}


/* Aanbevelingen */
.aanbevelingen {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.aanbevelingen h2 {
    font-family: CaviarDreams_Bold;
    font-size: 2em;
    margin-bottom: 1em;
}

.aanbevelingen p {
    margin-bottom: 1em;
}

.information {
    display: flex;
    justify-content: space-between;
}

.aanbeveling {
    width: 24%;
}

.aanbeveling img {
    border-radius: 2em;
}

.aanbeveling p {
    font-weight: bold;
    font-size: 0.9em;
}